.chat-main
  .chat-main__group-info
    .group
      .group__name
        = @group.name
        .member
          Member：
          - @group.users.each do |user|
            = user.name
      .group__edit
        = link_to edit_group_path(@group), class:"btn" do
          Edit
  .chat-main__message-list
    .messages
      = render @messages

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .text-box
        = f.text_field :content, class: 'text-box__form', placeholder: "type a message"
        = f.label :image, class: "text-box__icon" do
          = icon("fa", "image")
          = f.file_field :image, class: 'text-box__icon__image'
      .send-btn  
        = f.submit 'Send', class: 'btn'